<header>
    <div class="header-container">
        <div class="logo-container">
            <p>Contest<span>Link</span></p>
            <p>Usuário: {{ user.username }}</p>
        </div>
        <i class="fa-solid fa-magnifying-glass"></i>
        <div class="buttons-container">
            {% if user.is_authenticated%}
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="main-btn">Sair</button>
            </form>
            {% else %}
                <button class="main-btn"><a href="/accounts/login">Fazer Login</a></button>
            {% endif %}
        </div>
    </div>
</header>
<nav>
        <lu>
            <li><a href="{%url 'dashboard'%}">Página Inicial</a></li>
            <li><a href="{% url 'cadastrarnoticia'%}">Cadastrar Notícia</a></li>
            <li><a href="{%url 'noticias'%}">Visualizar Notícias</a></li>
            <li><a href="{%url 'cadastrarfuncionario'%}">Cadastrar Funcionário</a></li>
            <li><a href="{%url 'funcionarios'%}">Visualizar Funcionários</a></li>
        </lu>
</nav>