{% extends 'base.html' %}
{% load static %}

{% block 'title' %}{{funcionarios_id.name}}{% endblock %}
{% block 'head' %}
    <link rel="stylesheet" href="{% static 'css/index.css'%}">
{% endblock %}

{% block 'content' %}
<div class="dashboard-container">
    <div class="box-container">

        <div class="box">
            <i class="fa-solid fa-file-circle-plus"></i>
            <button class="main-btn"><a href="{% url 'cadastrarnoticia'%}">Adicionar Notícia</a></button>
        </div>

        <div class="box">
            <i class="fa-solid fa-file"></i>
            <button class="main-btn"><a href="{%url 'noticias'%}">Visualizar Notícias</a></button>
        </div>

        <div class="box">
            <i class="fa-solid fa-user-plus"></i>
            <button class="main-btn"><a href="{%url 'cadastrarfuncionario'%}">Adicionar Funcionário</a></button>
        </div>

        <div class="box">
            <i class="fa-solid fa-users"></i>
            <button class="main-btn"><a href="{%url 'funcionarios'%}">Visualizar Funcionários</a></button>
        </div>
    </div>
</div>
{% endblock %}