{% extends 'base.html' %}
{% load static %}

{% block 'title' %} Cadastro de Funcionários ContestLink{% endblock %}
{% block 'head' %}
    <link rel="stylesheet" href="{% static 'css/cadastro.css'%}">
{% endblock %}

{% block 'content' %}
<div class="register-container">
    <div class="title-container">
        <i class="fa-solid fa-user"></i>
        <h1>Cadastrar Funcionário</h1>
    </div>
    <form method="POST" action="{% url 'cadastrarfuncionario' %}">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Salvar</button>
    </form>

    {% if form.errors %}
        <p style="color: red;">Corrija os erros abaixo:</p>
    {% endif %}
    {{ form.errors }}
</div>
{% endblock %}

