{% extends 'base.html' %}
{% load static %}

{% block 'title' %}Lista de Notícias{% endblock %}
{% block 'head' %}
    <link rel="stylesheet" href="{% static 'css/cadastro.css'%}">
{% endblock %}

{% block 'content' %}
    <div class="title-container">
        <i class="fa-solid fa-newspaper"></i>
        <h1>Funcionários</h1>
    </div>
    <div class="input-container">
        <button><a href="{% url 'cadastrarfuncionario'%}">Cadastrar Funcionário</a></button>
        <input type="text" name="" id="" placeholder="Buscar Funcionario">
        <input type="submit" value="Enviar">
    <div class="form-container">
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Login</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>    
            <tbody>
        {% for i in funcionarios %}
                <tr> 
                    <td><a href="{% url 'funcionarios_id' id=i.id%}">{{i.name}}</a></td>
                    <td>{{i.login}}</td>
                    <td><a href=""><i class="fa-solid fa-pen-to-square"></i></a></td>
                    <td><a href=""><i class="fa-solid fa-trash"></i></a></td>
                </tr>
        {%endfor%}
            </tbody>
        </table>
    </div>
{% endblock %}

<!--
    Listagem Comum:
     {% for i in funcionarios %}
            <p>ID: {{i.id}}</p>
            <p><a href="{% url 'funcionarios_id' id=i.id%}">Nome: {{i.name}}</a></p>
            <p>Login: {{i.login}}</p>
            <p>Senha: {{i.password}}</p>
            <hr></hr>
        {%endfor%}
-->