{% extends 'base.html' %}
{% load static %}

{% block 'title' %} Edição de Notícia{% endblock %}
{% block 'head' %}
    <link rel="stylesheet" href="{% static 'css/cadastro.css'%}">
{% endblock %}

{% block 'content' %}
    <div class="title-container">
        <i class="fa-solid fa-newspaper"></i>
        <h1>Editar Notícia: "{{noticias_id.titulo}}"</h1>
    </div>
    <div class="form-container">
        <form method="POST">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit">
        </form>
    </div>
{% endblock %}

