{% extends 'base.html' %}
{% load static %}

{% block 'title' %}{{noticias_id.titulo}}{% endblock %}
{% block 'head' %}
    <link rel="stylesheet" href="{% static 'css/id.css'%}">
{% endblock %}

{% block 'content' %}
    <div class="main-container">
        <h1><b>Título:</b> {{noticias_id.titulo}}</h1>
        <h3><b>Legenda:</b> {{noticias_id.legenda}}</p>
    </div>
    <div class="details-container">
        <p><b>Autor:</b> {{noticias_id.autor}}</p>
        <p><b>Categoria:</b> {{noticias_id.categoria}}</p>
        <p><b>Data:</b> {{noticias_id.data_e_hora | date:"d/m/Y"}}</p>
    </div>
    <div class="content-container">
        <p><b>Texto:</b> {{noticias_id.texto}}</p>
    </div>
{% endblock %}