{% extends 'base.html' %}
{% load static %}

{% block 'title' %}Lista de Notícias{% endblock %}
{% block 'head' %}
    <link rel="stylesheet" href="{% static 'css/cadastro.css'%}">
    <script src="{% static 'js/noticiaScript.js' %}"></script>
{% endblock %}

{% block 'content' %}
    <div class="title-container">
        <i class="fa-solid fa-newspaper"></i>
        <h1>Notícias</h1>
    </div>
    <div class="input-container">
        <button><a href="{% url 'cadastrarnoticia' %}">Cadastrar Notícia <i class="fas fa-plus"></i></a></button>
        <form method="GET" id="search-form">
            <input type="text" name="search" id="search" placeholder="Buscar Notícia" value="{{ request.GET.search }}">
            <i class="fas fa-search" id="search-btn"></i>
        </form>
    </div><div class="filter-container">
        <span>Filtrar por:</span>

        <select name="filter" id="filter" class="form-control">
            <option value="">Escolha uma opção</option>
            <option value="-titulo">Titulo em ordem alfabética crescente (A ao Z)</option>
            <option value="titulo">Titulo em ordem alfabética decrescente (Z ao A)</option>
            <option value="-data_e_hora">Mais recentes</option>
            <option value="data_e_hora">Mais antigas</option>
        </select>

        <span>Filtrar por autor:</span>
        <select name="autorFilter" id="autorFilter" class="form-control">
            <option value="">Escolha um autor</option>
        {% for i in funcionarios %}
            <option value="{{i.username}}">{{i.username}}</option>
        {% endfor %}
        </select>
    </div>
    {% if messages %}
        <ul>
            {% for i in messages%}
                <li>{{i}}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="form-container">
        <table>
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Autor</th>
                    <th>Legenda</th>
                    <th>Categoria</th>
                    <th>Data</th>
                    <th>Texto</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
        
            <tbody>
        {% for i in noticias %}
                <tr> 
                    <td><a href="{% url 'noticias_id' id=i.id%}">{{i.titulo}}</a></td>
                    <td>{{i.autor}}</td>
                    <td>{{i.legenda}}</td>
                    <td>{{i.categoria}}</td>
                    <td>{{i.data_e_hora | date:"d/m/Y"}}</td>
                {% if i.texto|length > 20 %}
                    <td>{{i.texto | slice:":20"}}<a href="{% url 'noticias_id' id=i.id%}">... Ler mais</a></p></td>
                {% else %}
                    <td>{{ i.texto }}</td>
                {% endif %}
                <td><a href="{% url 'editarnoticia' id=i.id%}"><i class="fa-solid fa-pen-to-square"></i></a></td>
                <td><a href="{% url 'deletarnoticia' id=i.id%}" class="delete-btn"><i class="fa-solid fa-trash"></i></a></td>
                </tr>
        {%endfor%}
            </tbody>
        </table>
        <div class="pagination-container">
            <span>
                {%if noticias.has_previous%}
                    <a href="?page={{noticias.previous_page_number}}"><i class="fas fa-arrow-left"></i></a>
                {%endif%}
                {%if noticias.paginator.num_pages%}
                <span>
                    {{noticias.number}} de {{noticias.paginator.num_pages}}
                </span>
                {%endif%}
                {%if noticias.has_next%}
                    <a href="?page={{noticias.next_page_number}}"><i class="fas fa-arrow-right"></i></a>
                {%endif%}
            </span>
    </div>
{% endblock %}

<!--
    {% for i in noticias %}
            <p>ID: {{i.id}}</p>
            <p><a href="{% url 'noticias_id' id=i.id%}">Título: {{i.titulo}}</a></p>
            <p>Autor: {{i.autor}}</p>
            <p>Categoria: {{i.categoria}}</p>
            <hr></hr>
    {%endfor%}

    titulo = models.CharField(max_length=100)
    autor = models.CharField(max_length=100)
    texto = models.TextField()
    legenda = models.CharField(max_length=100)
    categoria = models.CharField(max_length=100)
    data_e_hora = models.DateTimeField()  
    id_funcionario = models.ForeignKey(Funcionario, on_delete=models.CASCADE)
-->