{% extends 'base.html' %}
{% load static %}

{% block 'title' %}Lista de Notícias{% endblock %}
{% block 'head' %}
    <link rel="stylesheet" href="{% static 'css/cadastro.css'%}">
{% endblock %}

{% block 'content' %}
    <div class="title-container">
        <i class="fa-solid fa-newspaper"></i>
        <h1>Notícias</h1>
    </div>
    <div class="input-container">
        <button><a href="{% url 'cadastrarnoticia'%}">Cadastrar Notícia</a></button>
        <input type="text" name="" id="" placeholder="Buscar Notícia">
        <input type="submit" value="Enviar">
    </div>
    {% if messages %}
        <ul>
            {% for i in messages%}
                <li>{{i}}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="form-container">
        <table>
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Autor</th>
                    <th>Legenda</th>
                    <th>Categoria</th>
                    <th>Data</th>
                    <th>Texto</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
        
            <tbody>
        {% for i in noticias %}
                <tr> 
                    <td><a href="{% url 'noticias_id' id=i.id%}">{{i.titulo}}</a></td>
                    <td>{{i.autor}}</td>
                    <td>{{i.legenda}}</td>
                    <td>{{i.categoria}}</td>
                    <td>{{i.data_e_hora | date:"d/m/Y"}}</td>
                {% if i.texto|length > 20 %}
                    <td>{{i.texto | slice:":20"}}<a href="{% url 'noticias_id' id=i.id%}">... Ler mais</a></p></td>
                {% else %}
                    <td>{{ i.texto }}</td>
                {% endif %}
                <td><a href="{% url 'editarnoticia' id=i.id%}"><i class="fa-solid fa-pen-to-square"></i></a></td>
                <td><a href="{% url 'deletarnoticia' id=i.id%}"><i class="fa-solid fa-trash"></i></a></td>
                </tr>
        {%endfor%}
            </tbody>
        </table>
        

    </div>
{% endblock %}

<!--
    {% for i in noticias %}
            <p>ID: {{i.id}}</p>
            <p><a href="{% url 'noticias_id' id=i.id%}">Título: {{i.titulo}}</a></p>
            <p>Autor: {{i.autor}}</p>
            <p>Categoria: {{i.categoria}}</p>
            <hr></hr>
    {%endfor%}

    titulo = models.CharField(max_length=100)
    autor = models.CharField(max_length=100)
    texto = models.TextField()
    legenda = models.CharField(max_length=100)
    categoria = models.CharField(max_length=100)
    data_e_hora = models.DateTimeField()  
    id_funcionario = models.ForeignKey(Funcionario, on_delete=models.CASCADE)
-->